<div>
  <img
    class="mx-auto h-12 w-auto"
    src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
    alt="Workflow"
  />

  <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
    <%= title %>
  </h2>

  <%- if devise_mapping.registerable? && %w(sessions registrations).include?(controller_name) %>
    <p class="mt-2 text-center text-sm text-gray-600">
      Or
      <%- if controller_name == 'sessions' %>
        <%= link_to "sign up", new_registration_path(resource_name), class: "text-link" %>
      <%- elsif controller_name == 'registrations' %>
        <%= link_to "sign in", new_session_path(resource_name), class: "text-link" %>
      <% end %>  
    </p>
  <% end %>
</div>
